@charset "UTF-8";
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0px auto;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 35px;
}

@media (max-width: 780px) {
  header {
    top: 0px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 85px;
}

.header__logo {
  position: absolute;
}

@media (max-width: 780px) {
  .header__logo {
    left: 20px;
  }
  .header__logo img {
    width: 50%;
  }
}

@media (max-width: 780px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding-top: 100px;
    background-color: gray;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

@media (max-width: 780px) {
  .menu .menu__body.active {
    left: 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li:nth-child(2) {
  margin-right: 73.5px;
}

@media (max-width: 780px) {
  .menu__list li:nth-child(2) {
    margin-right: 0px;
  }
}

.menu__list li:nth-child(3) {
  margin-left: 73.5px;
}

@media (max-width: 780px) {
  .menu__list li:nth-child(3) {
    margin-left: 0px;
  }
}

@media (max-width: 780px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 780px) {
  .menu__list li {
    text-align: center;
    margin: 40px 0px 0px 0px;
  }
}

.menu__link {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  margin: 0px 37.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 780px) {
  .menu__link {
    margin: 0px;
    font-size: 18px;
    color: white;
  }
}

.menu__link:hover {
  text-shadow: 18px -7px 2px rgba(114, 185, 156, 0.88);
}

@media (max-width: 780px) {
  .menu__icon {
    display: block;
    position: absolute;
    top: 33px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 15;
  }
  .menu__icon span {
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #64c29e;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .menu__icon span:first-child {
    top: 0px;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .menu__icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #64c29e;
  }
  .menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}

.generation {
  background-color: #f7f7f7;
}

.generation__block {
  text-align: center;
  padding: 115px 0px 100px;
}

.block__icon {
  padding-bottom: 25px;
}

.block__title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  padding-bottom: 30px;
}

.block__text {
  font-family: Lato;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.brand__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 940px) {
  .brand__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brand__row .brand__column_c:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .brand__row .brand__column_c:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .brand__row .brand__column_c:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.brand__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand__column_b {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66.666%;
          flex: 1 0 66.666%;
}

.brand__column_c {
  position: relative;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 33.333% !important;
          flex: 1 0 33.333% !important;
}

.brand__content {
  position: relative;
}

.brand__content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  z-index: 30;
}

.brand__block {
  padding: 70px 65px 90px;
}

@media (max-width: 1100px) {
  .brand__block {
    padding: 40px 35px 45px;
  }
}

.brand__image {
  padding: 0px 0px 37.5% 0px;
}

.item {
  position: relative;
  display: block;
  height: 100%;
}

@media (max-width: 940px) {
  .item {
    padding: 0px 0px 60% 0px;
  }
}

.item__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 940px) {
  .item__image_last {
    padding: 0px 0px 60% 0px;
  }
}

.item__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(114, 185, 156, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.item__logo span {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 10px 0px 0px 0px;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.block__icon {
  text-align: center;
}

.block__title {
  text-align: center;
  padding-bottom: 20px;
}

.block__text_s {
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
  text-align: justify;
}

.block__text_s::after {
  content: "";
  position: relative;
  top: 30px;
  left: 50%;
  width: 50px;
  height: 1px;
  background-color: #d7d7d8;
  z-index: 20;
  display: block;
  margin-left: -25px;
}

@media (max-width: 1100px) {
  .block__text_s::after {
    top: 15px;
  }
}

.slider {
  background-color: #f7f7f7;
  padding: 120px 0px 70px;
  position: relative;
}

@media (max-width: 768px) {
  .slider {
    padding: 50px 0px 30px;
  }
}

.slider__item {
  text-align: center;
}

.slider__title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  padding: 25px 0px 25px;
}

.slider__title span {
  font-weight: 300;
  color: #848789;
}

.slider__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .slick-dots {
    margin-top: 50px;
  }
}

.slick-dots li {
  list-style: none;
}

/* Активная точка */
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  background-color: transparent;
  margin: 0px 3px 0px;
}

.slick-dots li.slick-active button {
  font-size: 0;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  background-color: #c8c8c8;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 940px) {
  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666%;
          flex: 0 0 16.666%;
}

@media (max-width: 940px) {
  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.shop__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

@media (max-width: 940px) {
  .shop__column_b {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.shop__footer {
  max-width: 100%;
  margin: 0px auto;
  padding: 75px 0px;
  background-color: black;
  text-align: center;
}

.shop__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Lato;
  font-size: 14px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  border: 2px solid white;
  padding: 0px 57.5px;
}

.block-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.block-shop__item {
  padding: 0px 0px 50% 0px;
}

.block-shop__item_l {
  padding: 0px 0px 100% 0px;
}

.block-shop__item_b {
  padding: 0px 0px 200.5% 0px;
}

.item__logo {
  z-index: 20;
}

.email__block {
  text-align: center;
  padding: 100px 0px 110px;
}

@media (max-width: 768px) {
  .email__block {
    padding: 50px 0px 60px;
  }
}

.email__logo {
  padding: 0px 0px 30px;
}

.email__title {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  padding: 0px 0px 30px;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place__area {
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  margin: 0px 7px 0px 0px;
  padding: 0px 10px;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}

.place__btn {
  width: 126px;
  background-color: #64c29e;
  font-family: Lato;
  font-size: 24px;
  line-height: 69px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__body {
  background-color: #f7f7f7;
  padding: 100px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

@media (max-width: 768px) {
  .footer__body {
    background-color: #f7f7f7;
    padding: 50px 0px;
  }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.column-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}

.column-text span {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 768px) {
  .column-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
}

.column-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-social a {
  margin: 0px 6px;
}

@media (max-width: 768px) {
  .column-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 30px 0px;
  }
}

.column-yebo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Lato;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.column-yebo img {
  margin: 0px 0px 0px 10px;
}

@media (max-width: 768px) {
  .column-yebo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
